body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    background-color: red;
}

h1 {
    font-size: 250%;    
}

h2 {
    font-size: 275%;
    position: relative;
    margin-top: -20px;
}

nav ul {
    /* float: right; */
    display: flex;
    justify-content: space-between;
    min-width: 350px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 3%;
}

img {
    border: solid white;
}

.textstroke {
    color: red;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.border {
    border-top: solid;
    padding-top: 1%;
    /* margin-top: -2%; */
}

.work-card {
    display: flex;
    flex-direction: column;
    /* min-height: 100%; */
    padding: 2%;

}

.showcase-image {
    max-width: 600px;
}

#aboutme {
    flex: 1 1 0;
    margin: 3%;
}

#work {
    flex: 1 1 0;
    margin: 3%;
}

@media screen and (max-width: 768px) {
    header, main {
        flex-direction: column;
    }
}